<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscriere reusita</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #900000;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: white;
            text-align: center;
        }
        .message-container {
            padding: 30px;
            background-color: #600000;
            border-radius: 15px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <div class="message-container">
        <h1>Înscrierea a fost realizată cu succes!</h1>
        <p>Mulțumim că te-ai înscris la evenimentul "Ziua Voluntarului 02".</p>
    </div>
</body>
</html>
